@import "@/styles/abstracts/variables.scss";
@import "@/styles/abstracts/mixins.scss";

.product-list {
  @include grid-display(2, 250px, 24px 16px);
  width: 100%;
  max-width: map-get($breakpoints, mobile);
  padding: 25px 0;
  margin: 20px auto 0;
  border-bottom: 1px solid $text-color;
}
