@import "@styles/abstracts/variables.scss";
@import "@styles/abstracts/mixins.scss";

.contacts-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__address {
    &-image {
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
      margin: 40px auto;
    }

    &-description {
      margin: 0 0 15px;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
    }

    &-schedule-container {
      @include flex-between;
    }

    &-schedule-title {
      margin: 0;
      padding: 0;
    }

    &-schedule {
      margin: 0 0 10px 0;
      padding: 0;
    }
  }

  &__title {
    @include title;
  }

  &__block-title {
    @include block-title(());
  }

  &__contacts {
    margin: 0 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $primary-color;
  }

  &__path-guide {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }

  &__social-media {
    margin: 20px auto 0;
    width: 100%;
  }
}
