@import "@styles/abstracts/variables.scss";
@import "@styles/abstracts/mixins.scss";

.product-card {
  max-width: 136px;
  max-height: 188px;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  list-style: none;
  animation: fadeIn 0.3s ease-in-out forwards;

  .photo {
    width: 100%;
    max-height: 136px;
    object-fit: cover;
    border-radius: 4px;
  }

  .title {
    @include title(
      (
        font-size: 14px,
        font-weight: 400,
        text-color: $text-color,
        pb: 0,
      )
    );
    margin: 6px auto auto auto;
  }

  .price {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--accent-main);
    margin: 4px auto auto;
    flex-wrap: nowrap;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
