@import url(./vendor/normalize.css);
@import url(./styles/main.scss);

:root {
  // --text-color: #000;
  // --accent-main: #a18a68;
  // --grey-accent: #d8d8d8;
  // --accent-text-color: #fff;
  // --black-accent: #000;
}

body {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 16px;
  max-width: 425px;
  margin: 0 auto;
  font-family: DM Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
