.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__block-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin: 0;
    // border-bottom: 1px solid var(--accent-main);
    padding-bottom: 10px;
  }

  &__geolocation {
    margin: 20px auto 0;
    width: 100%;

    &-map {
      margin: 0 auto 20px;
      width: 100%;
      max-width: 320px;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    }

    &-description {
      margin: 0 0 15px;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
    }

    &-contact-phone {
      text-decoration: none;
      color: #000;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      margin: 0 0 15px;
      display: inline-block;
    }

    &-schedule-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-schedule-title {
      margin: 0;
      padding: 0;
    }

    &-schedule {
      margin: 0 0 10px 0;
      padding: 0;
    }

    &-contact-email {
      margin: 0 0 15px 0;
    }
  }

  &__path-guide {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 20px auto 0;

    &-slider {
      padding: 0;
      margin: 20px 0 0;
      width: 100%;
    }

    &-slide {
      padding: 0;
      width: 100%;

      &-photo {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        overflow: hidden;
      }
    }
  }
  &__social-media {
    margin: 20px auto 0;
    width: 100%;
  }
}
